@font-face {
  font-family: 'EuropaRegular';
  src: url('~assets/fonts/europa-regular-webfont.eot'); /* IE9 Compat Modes */
  src:
    url('~assets/fonts/europa-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/europa-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/europa-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('~assets/fonts/europa-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/europa-regular-webfont.svg#europaregular') format('svg'); /* Legacy iOS */

  font-display: swap;
}

@font-face {
  font-family: 'EuropaRegularItalic';
  src: url('~assets/fonts/europa-regularitalic-webfont.eot'); /* IE9 Compat Modes */
  src:
    url('~assets/fonts/europa-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/europa-regularitalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/europa-regularitalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('~assets/fonts/europa-regularitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/europa-regularitalic-webfont.svg#europaregularitalic') format('svg'); /* Legacy iOS */

  font-display: swap;
}

@font-face {
  font-family: 'EuropaLight';
  src: url('~assets/fonts/europa-light-webfont.eot'); /* IE9 Compat Modes */
  src:
    url('~assets/fonts/europa-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/europa-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/europa-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('~assets/fonts/europa-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/europa-light-webfont.svg#europalight') format('svg'); /* Legacy iOS */

  font-display: swap;
}

@font-face {
  font-family: 'EuropaLightItalic';
  src: url('~assets/fonts/europa-lightitalic-webfont.eot'); /* IE9 Compat Modes */
  src:
    url('~assets/fonts/europa-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/europa-lightitalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/europa-lightitalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('~assets/fonts/europa-lightitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/europa-lightitalic-webfont.svg#europalightitalic') format('svg'); /* Legacy iOS */

  font-display: swap;
}

@font-face {
  font-family: 'EuropaBold';
  src: url('~assets/fonts/europa-bold-webfont.eot'); /* IE9 Compat Modes */
  src:
    url('~assets/fonts/europa-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/europa-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/europa-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('~assets/fonts/europa-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/europa-bold-webfont.svg#europabold') format('svg'); /* Legacy iOS */

  font-display: swap;
}

@font-face {
  font-family: 'EuropaBoldItalic';
  src: url('~assets/fonts/europa-bolditalic-webfont.eot'); /* IE9 Compat Modes */
  src:
    url('~assets/fonts/europa-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/europa-bolditalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/europa-bolditalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('~assets/fonts/europa-bolditalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/europa-bolditalic-webfont.svg#europabolditalic') format('svg'); /* Legacy iOS */

  font-display: swap;
}
